body {
	margin: 0;
	background: #020202;
	cursor: crosshair;
}
canvas{
	display:block
}
#h1_1 {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F4F5F7;
	font-family: "Impact,Charcoal,sans-serif";
	font-size: 5em;
	font-weight: 800;
	-webkit-user-select: none;
	user-select: none;
}
#h1_2 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F4F5F7;
	font-family: "Impact,Charcoal,sans-serif";
	font-size: 5em;
	font-weight: 800;
	-webkit-user-select: none;
	user-select: none;
}
h2 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F4F6F7;
	font-family: "Impact,Charcoal,sans-serif";
	font-size: 5em;
	font-weight: 800;
	-webkit-user-select: none;
	user-select: none;
}


@media (max-width: 900px) {
	#h1_1 {
		font-size: 3em;
		top: 20%;

	}
	#h1_2 {
		font-size: 3em;
		top: 30%;

	}
	h2 {
		font-size: 3em;
		top: 40%;

	}
}

@media (max-width: 600px) {
	#h1_1 {
		font-size: 2em;
	}
	#h1_2 {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
}